.link {
  stroke:black;
  stroke-width: 5px;
  stroke-opacity:1;
}

.task.title {
   font-family: 'Patrick Hand SC', cursive;
}

.task.body {
    font-family: 'Annie Use Your Telescope', cursive;
}

.highlight {
    font-weight: bold;
    background: gray;
}

.orphan {
    stroke: #636363;
    stroke-width: 3;
    fill: #D4D4D4;
}

.node {
    stroke: black;
    stroke-width: 3;
    fill:white;
}

.node text {
    stroke-width: 1;
    stroke: black;
    
}

.node-title {
    stroke: black;
    stroke-width: 2;
    fill: #FAECC3;   
    
}

.node-title text {
    fill: "#F6D46E";   
}

.type-ahead {
    padding: .05em .05em !important;
}

.type-ahead-list {
      font-size: 12px;
}

.type-ahead-list select {
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 12px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
 }

.ace_link {
    background: #FAECC3;
    color: black;
}
