.link {
  stroke:black;
  stroke-width: 5px;
  stroke-opacity:1;
}

.task.title {
   font-family: 'Patrick Hand SC', cursive;
}

.task.body {
    font-family: 'Annie Use Your Telescope', cursive;
}

.highlight {
    font-weight: bold;
    background: gray;
}

.orphan {
    stroke: black;
    stroke-width: 5;
    fill:white;
}

.node {
    stroke: black;
    stroke-width: 5;
    fill:white;
}

.node text {
    stroke-width: 1;
    stroke: black;
    
}
